.contentgrad{
    width: 70%;
    background-size: cover;
    color: black;
    padding: 20px;
}
.grad{
    background-size: cover;
    width: 100%;
    color: white;
    padding: 20px;
}
#home h2 {
    @apply text-main text-center lg:text-6xl md:text-5xl sm:text-5xl text-3xl font-bold w-full mb-4;

}

#home #box {
    @apply lg:flex block mt-10 lg:w-10/12 mx-auto
}

#home .contentBox {
    @apply lg:w-1/2 text-center mb-4 lg:mb-0;
}

#home .svg {
    @apply w-32 h-32 lg:w-64 lg:h-64 mx-auto dark:stroke-white stroke-black fill-none stroke-[1.5]
}

#home .text {
    @apply lg:text-xl md:text-lg sm:text-sm lg:leading-6 md:leading-6 text-center
}

h2 span {
    display: inline-block;
    @apply text-[22px] sm:text-[44px] md:text-[45px] lg:text-[39px] xl:text-5xl 2xl:text-6xl break-words;
}
